<section class="section background">
  <div class="section__title"> 01<br>Background</div>
  <div class="section__content">
    <p>
      I'm currently a Research Fellow with
      <a class="highlight-link" href="https://www.scadr.ac.uk/about-us/our-people/michelle-k-jamieson" target="_blank" class="highlight-link">SCADR</a> at
      <a href="https://www.napier.ac.uk/people/michelle-jamieson/" target="_blank" class="highlight-link">Edinburgh Napier University</a>, while finishing my PhD at <thead>
      <a href="https://www.gla.ac.uk/schools/socialpolitical/research/pgrstudents/michellejamieson/" target="_blank" class="highlight-link">University of Glasgow</a>
      </thead>.
    </p>
    <p>
      I have a background in psychology and sociology and hold an MRes in Research Methods and a MSc in Global Mental Health from <thead>
      <a href="https://www.gla.ac.uk/" target="_blank" class="highlight-link">University of Glasgow</a> and a B.A.(Hons) in Psychology from <thead>
      <a href="https://www.uws.ac.uk/" target="_blank" class="highlight-link">University of the West of Scotland</a>
      </thead>
      </thead>
    </p>

    <p>
      As a social scientist and creative freelancer interested in mental health, I want to bridge the gap between data analysis, ethics,
      and reflexivity while centering lived experiences &mdash;
      so knowledge can be used to inform policy, have a real-world impact, and improve lives.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably drumming, cycling with my dog,
      or knitting something impractical.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
