<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span style="font-size:10px;">Built (2021) by</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
    </div>
    <div class="bottom">
      <span style="font-size:10px;">
        <a href="https://github.com/themichjam/themichjam.github.io" targeSt="_blank">Michelle K Jamieson</a></span>
      <br>
      <span style="font-size:10px;">Original by bchiang7</span>
    </div>
  </div>
</footer>
